@model IEnumerable<project.Models.category_T>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Star Security Service Company</title>

    <!-- Favicon -->

    <link rel="icon" type="image/png" sizes="32x32" href="~/Frontlib/assets/img/Faviconnew.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/font-awesome.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/animate.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/owl.carousel.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/flaticon/flaticon.css">

    <!-- SlickNav CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/slicknav.min.css">

    <!-- Featherlight  CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.css">

    <!-- Featherlight Gallery CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.gallery.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/responsive.css">

</head>
<body>


    <!-- Header Area Start -->
    <header class="bleezy-header-area">
        <div class="header-right-overlay"></div>
        <div class="mobile-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-user"></i><a href="#">Register</a> or <a href="#">Login</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="cart-top-menu">
                            <div class="login dropdown">
                                <a href="#" class="dropdown-toggle cart-icon" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-shopping-bag"></i> Cart(02)
                                </a>
                                <div class="dropdown-menu cart-dropdown" aria-labelledby="dropdownMenu2">
                                    <h3>Recently added item(s)</h3>
                                    <ul>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Wireless IP Camera</a></h4>
                                                    <span class="item-cat">
                                                        1x$30.00
                                                    </span>
                                                    <span class="price">
                                                        $30.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro-2.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Door Lock System</a></h4>
                                                    <span class="item-cat">
                                                        1x$130.00
                                                    </span>
                                                    <span class="price">
                                                        $130.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart-btn">
                                        <a href="#" class="cart-btn-1">View Cart</a>
                                        <a href="#" class="cart-btn-2">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="site-logo">
                        <a href="@Url.Action("home","main")">
                            <img src="~/Frontlib/assets/img/logonew.png" alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-right">
                        <div class="header-right-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p>Call Us: <a href="@Url.Action("contact","main")">(+92) 314-205-6597</a></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <ul>
                                            <li><a href="https://www.facebook.com/ameerhamza006"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/ameerhamza006"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://pk.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="https://accounts.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="https://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p><i class="fa fa-user"></i><!---- <a href="#">Register</a> or --> <a href="@Url.Action("login","main")">Login</a></p>
                                        <div class="cart-top-menu">
                                            <div class="login dropdown">
                                                <a href="@Url.Action("sitemap","main")">
                                                    <i class="fa fa-map"></i> SiteMap
                                                </a>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-container">
                            <div class="row">
                                <div class="col-md-11 col-sm-11">
                                    <!-- Responsive Menu -->
                                    <div class="bleezy-responsive-menu"></div>
                                    <!-- Responsive Menu -->
                                    <div class="mainmenu">
                                        <nav>
                                            <ul id="bleezy_navigation">
                                                <li><a href="@Url.Action("home","main")">home</a></li>
                                                <li><a href="@Url.Action("about","main")">about us</a></li>
                                                <li><a href="@Url.Action("all_service","main")"> Services</a></li>
                                               
                                                <li><a href="@Url.Action("careers_us","main")">Careers</a></li>
                                                <li><a href="@Url.Action("pkgs","main")">Packages</a></li>
                                                <li>
                                                    <a href="#"> Our Network</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("northRegion","main")">North Region</a></li>
                                                        <li><a href="@Url.Action("westRegion","main")">West Region</a></li>
                                                        <li><a href="@Url.Action("southRegion","main")">South Network</a></li>
                                                        <li><a href="@Url.Action("eastRegion","main")">East Region</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.Action("contact","main")">contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="header-search">
                                        <div class="search-icon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <div class="search-form">
                                            <form>
                                                <input type="search" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Slider Area Start -->
    <section class="bleezy-slider-area">
        <div class="bleezy-slide">
            <div class="bleezy-main-slide slide-item-1">
                <div class="bleezy-main-caption">
                    <div class="bleezy-caption-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slider-text">
                                        @RenderBody();
                                        <h2>the most successfull security <span>agency</span></h2>
                                        <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.</p>
                                        <a href="@Url.Action("contact","main")" class="bleezy-btn">start a project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bleezy-main-slide slide-item-2">
                <div class="bleezy-main-caption">
                    <div class="bleezy-caption-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slider-text">
                                        <h2>Premium Security Services Trusted <span> by Millions</span></h2>
                                        <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.</p>
                                        <a href="@Url.Action("about","main")" class="bleezy-btn">learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bleezy-main-slide slide-item-3">
                <div class="bleezy-main-caption">
                    <div class="bleezy-caption-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slider-text">
                                        <h2>Premium Security Services Trusted<span> by Millions</span></h2>
                                        <p>Nunc accumsan metus quis metus. Sed luctus. Mauris eu enim quisque dignissim nequesudm consectetuer dapibus wn eu leo integer varius erat.</p>
                                        <a href="@Url.Action("about","main")" class="bleezy-btn">learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider Area End -->
    <!-- Promo Area Start -->
    <section class="bleezy-promo-area section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="promo-heading">
                        <h2>We always try to Provide Cost Effective <span>Security Solutions</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo">
                        <div class="promo-image">
                            <a href="@Url.Action("about","main")">
                                <img src="~/Frontlib/assets/img/promo-1.jpg" alt="promo" />
                            </a>
                        </div>
                        <div class="promo-text">
                            <h2><a href="@Url.Action("about","main")">Our Experience</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo">
                        <div class="promo-image">
                            <a href="@Url.Action("about","main")">
                                <img src="~/Frontlib/assets/img/promo-2.jpg" alt="promo" />
                            </a>
                        </div>
                        <div class="promo-text">
                            <h2><a href="@Url.Action("about","main")">Service History</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo">
                        <div class="promo-image">
                            <a href="@Url.Action("about","main")">
                                <img src="~/Frontlib/assets/img/promo-4.jpg" alt="promo" />
                            </a>
                        </div>
                        <div class="promo-text">
                            <h2><a href="@Url.Action("about","main")">Our Mission</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo Area End -->
    <!-- Services Area Start -->
    <section class="bleezy-service-area section_t_100 section_b_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h3>What We Offer</h3>
                        <h2>our services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                <div class="col-md-6 col-sm-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-house-security"></i>
                        </div>
                        <h3><a href="#">@Html.ActionLink(item.cat_title,"physical_services",new {id = item.cat_id })</a></h3>
                        <p>@item.cat_discrip</p>
                    </div>
                </div>

                }
               
            </div>
        </div>
    </section>
    <!-- Services Area End -->
    <!-- Count Area Start -->
    <section class="bleezy-count-area section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counts-text">
                        <h3>We are ready to provide security in resonable price and guarantee your safety in any situation in your life </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="count-box">
                        <h3 class="counter">2800</h3>
                        <h4>Project <span>Done</span></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="count-box">
                        <h3 class="counter">1200</h3>
                        <h4>Qualified <span>Employee</span></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="count-box">
                        <h3 class="counter">3100</h3>
                        <h4>Deal <span>Assigned</span></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="count-box">
                        <h3 class="counter">2700</h3>
                        <h4>Satisfied <span>Clients</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Count Area End -->
    <!-- Gallery Area Start -->
    <section class="bleezy-gallery-area section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h3>See Our Experience</h3>
                        <h2>Photo Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-1.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-1.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-2.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-2.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-3.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-3.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-4.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-4.jpeg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-6.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-6.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-5.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-5.jpeg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="@Url.Action("gallery","main")">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Area End -->
    <!-- Testimonial Area Start -->
    <section class="bleezy-testimonial-area section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading-black">
                        <h3>What Clients Say</h3>
                        <h2>Testimonials</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-slide">
                        <div class="single-testimonial">
                            <div class="testimonial-text">
                                <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                            </div>
                            <div class="testimonial-info">
                                <div class="info-img">
                                    <img src="~/Frontlib/assets/img/client1.jpg" alt="client" />
                                </div>
                                <div class="info-name">
                                    <h4>Ahmad Raza</h4>
                                    <p>Business Owner, Daraz</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text">
                                <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                            </div>
                            <div class="testimonial-info">
                                <div class="info-img">
                                    <img src="~/Frontlib/assets/img/client2.jpg" alt="client" />
                                </div>
                                <div class="info-name">
                                    <h4>Jeny Fer</h4>
                                    <p>Business Owner, Gul Ahmad</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text">
                                <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                            </div>
                            <div class="testimonial-info">
                                <div class="info-img">
                                    <img src="~/Frontlib/assets/img/author-8.jpg" alt="client" />
                                </div>
                                <div class="info-name">
                                    <h4>Feroz Khan</h4>
                                    <p>Business Owner, TOYOTA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area End -->
    <!-- Blog Area Start -->
    <section class="bleezy-blog-area section_t_100 section_b_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h3>security </h3>
                        <h2>Information</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="@Url.Action("all_service","main")">
                                <img src="~/Frontlib/assets/img/blog-1.jpeg" alt="blog" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <h2><a href="@Url.Action("all_service","main")">Security System Of Any Building</a></h2>
                            <div class="blog-meta">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="@Url.Action("all_service","main")">
                                <img src="~/Frontlib/assets/img/blog-2.jpeg" alt="blog" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <h2><a href="@Url.Action("all_service","main")">Don’t Worry Your Data is Safe</a></h2>
                            <div class="blog-meta">
                                <p>@*-: Aprail 20, 2020   /   Admin   /   6 Likes*@</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="@Url.Action("all_service","main")">
                                <img src="~/Frontlib/assets/img/blog-3.jpeg" alt="blog" />
                            </a>
                        </div>
                        <div class="blog-text">
                            <h2><a href="@Url.Action("all_service","main")">Go next we are always with you</a></h2>
                            <div class="blog-meta">
                                <p>@*-: Aprail 20, 2020   /   Admin   /   6 Likes*@</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
    <!-- Broucher Area Start -->
   
    <!-- Broucher Area End -->
    <!-- Footer Area Start -->
    <footer class="bleezy-footer-area">
        <div class="footer-top-area section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget footer-logo-widget">
                            <div class="footer-logo">
                                <a href="@Url.Action("home","main")">
                                    <img src="~/Frontlib/assets/img/Footer-logowhite.png" alt="footer logo" />
                                </a>
                            </div>
                            <div class="footer-widget-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                                <p>Suspendisse augue sem, iaculis id fermentum sit amet, finibus eu risus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>latest post</h3>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="@Url.Action("about","main")">Revealed: How to set goals for you and your team</a></h4>
                                    <p>Aprail 15, 2020</p>
                                </div>
                            </div>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="@Url.Action("about","main")">Five ways to improve as a business professional!</a></h4>
                                    <p>Aprail 15, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>main links</h3>
                            <ul>
                                <li><a href="@Url.Action("about","main")">About us</a></li>
                                <li><a href="@Url.Action("contact","main")">Delivery Information</a></li>
                                <li><a href="@Url.Action("about","main")">Terms & Conditions</a></li>
                                <li><a href="@Url.Action("about","main")">Privacy Policy</a></li>
                                <li><a href="@Url.Action("contact","main")">Contact us</a></li>
                                <li><a href="@Url.Action("about","main")">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>
                            <p>Don't miss to subscribe to our news feeds, kindly fill the form below.</p>
                            <form>
                                <input type="email" placeholder="Subscribe">
                                <button type="submit"><i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-right">
                            <p>&copy; Copyright <a href="@Url.Action("home","main")">Star Security Service</a> 2020. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- jQuery -->
    <script src="~/Frontlib/assets/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Frontlib/assets/js/bootstrap.min.js"></script>

    <!-- Featherlight JS -->
    <script src="~/Frontlib/assets/js/featherlight.js"></script>

    <!-- Featherlight Gallery JS -->
    <script src="~/Frontlib/assets/js/featherlight.gallery.js"></script>

    <!-- OwlCarousel JS -->
    <script src="~/Frontlib/assets/js/owl.carousel.min.js"></script>

    <!-- SlickNav JS -->
    <script src="~/Frontlib/assets/js/jquery.slicknav.min.js"></script>

    <!-- Gmap JS -->
    <script src="~/Frontlib/assets/js/gmap.js"></script>

    <!-- Progressbar js -->
    <script src="~/Frontlib/assets/js/progressbar.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/jquery.counterup.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/waypoints-min.js"></script>

    <!-- Custom JS -->
    <script src="~/Frontlib/assets/js/custom.js"></script>


</body>
</html>