@model project.Models.client

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

<h2 class="text-center">Client</h2>

<h3 class="text-center">Are you sure you want to delete this Client ?</h3>
<div class="content-panel text-center">
    <hr>
    <h4 class="title"> @Html.DisplayFor(model => model.client_name)  </h4>
    <p> @Html.DisplayFor(model => model.client_email) </p>

    <h4 class="title">  From ServiceAvaid  </h4>
    <p> @Html.DisplayFor(model => model.category_T.cat_title) </p>
    <h4 class="title">  From StafAsaint  </h4>
    <p> @Html.DisplayFor(model => model.service.ser_title) </p>
    <p> @Html.DisplayFor(model => model.client_msg) </p>

    <hr>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-warning btn-xs">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>



@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>client</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.client_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.client_email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client_email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.client_msg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.client_msg)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.category_T.cat_title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category_T.cat_title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.service.ser_title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.service.ser_title)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
