@model project.Models.comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_comnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_comnt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.c_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
