<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Gallery | Star Security Service Company</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Frontlib/assets/img/Faviconnew.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/font-awesome.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/animate.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/owl.carousel.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/flaticon/flaticon.css">

    <!-- SlickNav CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/slicknav.min.css">

    <!-- Featherlight  CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.css">

    <!-- Featherlight Gallery CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.gallery.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/responsive.css">

</head>
<body>



    <!-- Header Area Start -->
    <header class="bleezy-header-area">
        <div class="header-right-overlay"></div>
        <div class="mobile-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-user"></i><a href="#">Register</a> or <a href="#">Login</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="cart-top-menu">
                            <div class="login dropdown">
                                <a href="#" class="dropdown-toggle cart-icon" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-shopping-bag"></i> Cart(02)
                                </a>
                                <div class="dropdown-menu cart-dropdown" aria-labelledby="dropdownMenu2">
                                    <h3>Recently added item(s)</h3>
                                    <ul>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Wireless IP Camera</a></h4>
                                                    <span class="item-cat">
                                                        1x$30.00
                                                    </span>
                                                    <span class="price">
                                                        $30.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro-2.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Door Lock System</a></h4>
                                                    <span class="item-cat">
                                                        1x$130.00
                                                    </span>
                                                    <span class="price">
                                                        $130.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart-btn">
                                        <a href="#" class="cart-btn-1">View Cart</a>
                                        <a href="#" class="cart-btn-2">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="site-logo">
                        <a href="@Url.Action("home","main")">
                            <img src="~/Frontlib/assets/img/logonew.png" alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-right">
                        <div class="header-right-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p>Call Us: <a href="@Url.Action("contact","main")">(+92) 314-205-6597</a></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <ul>
                                            <li><a href="https://www.facebook.com/ameerhamza006"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/ameerhamza006"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://pk.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="https://accounts.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="https://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p><i class="fa fa-user"></i><!---- <a href="#">Register</a> or --> <a href="@Url.Action("login","main")">Login</a></p>
                                        <div class="cart-top-menu">
                                            <div class="login dropdown">
                                                <a href="@Url.Action("sitemap","main")">
                                                    <i class="fa fa-map"></i> SiteMap
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-container">
                            <div class="row">
                                <div class="col-md-11 col-sm-11">
                                    <!-- Responsive Menu -->
                                    <div class="bleezy-responsive-menu"></div>
                                    <!-- Responsive Menu -->
                                    <div class="mainmenu">
                                        <nav>
                                            <ul id="bleezy_navigation">
                                                <li><a href="@Url.Action("home","main")">home</a></li>
                                                <li><a href="@Url.Action("about","main")">about us</a></li>
                                                <li><a href="@Url.Action("all_service","main")"> Services</a></li>

                                                <li><a href="@Url.Action("careers_us","main")">Careers</a></li>
                                                <li><a href="@Url.Action("pkgs","main")">Packages</a></li>
                                                <li>
                                                    <a href="#"> Our Network</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("northRegion","main")">North Region</a></li>
                                                        <li><a href="@Url.Action("westRegion","main")">West Region</a></li>
                                                        <li><a href="@Url.Action("southRegion","main")">South Network</a></li>
                                                        <li><a href="@Url.Action("eastRegion","main")">East Region</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.Action("contact","main")">contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="header-search">
                                        <div class="search-icon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <div class="search-form">
                                            <form>
                                                <input type="search" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Breadcromb Area Start -->
    <section class="bleezy-breadcromb-area">
        <div class="breadcromb-top section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcromb-top-text">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcromb-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcromb-bottom-text">
                            <ul>
                                <li><a href="@Url.Action("home","main")">home</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                                <li><a href="index.html">pages</a></li>
                                <li><a href="@Url.Action("gallery","main")"><i class="fa fa-long-arrow-right"></i></a></li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcromb Area End -->
    <!-- Gallery Area Start -->
    <section class="bleezy-gallery-area section_b_100 section_t_70">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-1.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-1.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-2.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-2.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-3.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-3.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-4.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-4.jpeg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-6.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-6.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-5.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-5.jpeg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-6.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-1.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-7.jpeg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-2.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-gallery-img">
                        <img src="~/Frontlib/assets/img/gallery-3.jpg" alt="ignition" />
                        <div class="gallery-caption">
                            <p>
                                <a href="~/Frontlib/assets/img/gallery-3.jpg" class="more gallery2">
                                    <i class="fa fa-fw fa-search-plus"></i>
                                </a>
                                <a href="gallery.html">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination_box">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Area End -->
    <!-- Footer Area Start -->
    <footer class="bleezy-footer-area">
        <div class="footer-top-area section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget footer-logo-widget">
                            <div class="footer-logo">
                                <a href="@Url.Action("home","main")">
                                    <img src="~/Frontlib/assets/img/Footer-logowhite.png" alt="footer logo" />
                                </a>
                            </div>
                            <div class="footer-widget-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                                <p>Suspendisse augue sem, iaculis id fermentum sit amet, finibus eu risus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>latest post</h3>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="@Url.Action("blog","main")">Revealed: How to set goals for you and your team</a></h4>
                                    <p>Aprail 15, 2020</p>
                                </div>
                            </div>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="@Url.Action("blog","main")">Five ways to improve as a business professional!</a></h4>
                                    <p>Aprail 15, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>main links</h3>
                            <ul>
                                <li><a href="@Url.Action("about","main")">About us</a></li>
                                <li><a href="@Url.Action("contact","main")">Delivery Information</a></li>
                                <li><a href="@Url.Action("about","main")">Terms & Conditions</a></li>
                                <li><a href="@Url.Action("about","main")">Privacy Policy</a></li>
                                <li><a href="@Url.Action("contact","main")">Contact us</a></li>
                                <li><a href="@Url.Action("about","main")">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>
                            <p>Don't miss to subscribe to our news feeds, kindly fill the form below.</p>
                            <form>
                                <input type="email" placeholder="Subscribe">
                                <button type="submit"><i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-right">
                            <p>&copy; Copyright <a href="@Url.Action("home","main")">Star Security Service</a> 2020. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- jQuery -->
    <script src="~/Frontlib/assets/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Frontlib/assets/js/bootstrap.min.js"></script>

    <!-- Featherlight JS -->
    <script src="~/Frontlib/assets/js/featherlight.js"></script>

    <!-- Featherlight Gallery JS -->
    <script src="~/Frontlib/assets/js/featherlight.gallery.js"></script>

    <!-- OwlCarousel JS -->
    <script src="~/Frontlib/assets/js/owl.carousel.min.js"></script>

    <!-- SlickNav JS -->
    <script src="~/Frontlib/assets/js/jquery.slicknav.min.js"></script>

    <!-- Gmap JS -->
    <script src="~/Frontlib/assets/js/gmap.js"></script>

    <!-- Progressbar js -->
    <script src="~/Frontlib/assets/js/progressbar.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/jquery.counterup.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/waypoints-min.js"></script>

    <!-- Custom JS -->
    <script src="~/Frontlib/assets/js/custom.js"></script>

</body>
</html>