@model project.Models.employe_Reg
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Bleezy - Security Service Company HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/font-awesome.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/animate.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/owl.carousel.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/flaticon/flaticon.css">

    <!-- SlickNav CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/slicknav.min.css">

    <!-- Featherlight  CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.css">

    <!-- Featherlight Gallery CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/featherlight.gallery.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Frontlib/assets/css/responsive.css">

</head>
<body>



    <!-- Header Area Start -->
    <header class="bleezy-header-area">
        <div class="header-right-overlay"></div>
        <div class="mobile-top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-user"></i><a href="#">Register</a> or <a href="#">Login</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="cart-top-menu">
                            <div class="login dropdown">
                                <a href="#" class="dropdown-toggle cart-icon" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-shopping-bag"></i> Cart(02)
                                </a>
                                <div class="dropdown-menu cart-dropdown" aria-labelledby="dropdownMenu2">
                                    <h3>Recently added item(s)</h3>
                                    <ul>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Wireless IP Camera</a></h4>
                                                    <span class="item-cat">
                                                        1x$30.00
                                                    </span>
                                                    <span class="price">
                                                        $30.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cart-btn-product">
                                                <a class="product-remove" href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <div class="cart-btn-pro-img">
                                                    <a href="#">
                                                        <img src="~/Frontlib/assets/img/pro-2.png" alt="product" />
                                                    </a>
                                                </div>
                                                <div class="cart-btn-pro-cont">
                                                    <h4><a href="#">Door Lock System</a></h4>
                                                    <span class="item-cat">
                                                        1x$130.00
                                                    </span>
                                                    <span class="price">
                                                        $130.00
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart-btn">
                                        <a href="#" class="cart-btn-1">View Cart</a>
                                        <a href="#" class="cart-btn-2">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="site-logo">
                        <a href="@Url.Action("home","main")">
                            <img src="~/Frontlib/assets/img/logonew.png" alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-right">
                        <div class="header-right-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p>Call Us: <a href="@Url.Action("contact","main")">(+92) 314-205-6597</a></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-top-right">
                                        <p><i class="fa fa-user"></i><!---- <a href="#">Register</a> or --> <a href="@Url.Action("login","main")">Login</a></p>
                                        <div class="cart-top-menu">
                                            <div class="login dropdown">
                                                <a href="#" class="dropdown-toggle cart-icon" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <i class="fa fa-shopping-bag"></i> Cart(02)
                                                </a>
                                                <div class="dropdown-menu cart-dropdown" aria-labelledby="dropdownMenu1">
                                                    <h3>Recently added item(s)</h3>
                                                    <ul>
                                                        <li>
                                                            <div class="cart-btn-product">
                                                                <a class="product-remove" href="#">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                                <div class="cart-btn-pro-img">
                                                                    <a href="@Url.Action("shop","main")">
                                                                        <img src="~/Frontlib/assets/img/pro.png" alt="product" />
                                                                    </a>
                                                                </div>
                                                                <div class="cart-btn-pro-cont">
                                                                    <h4><a href="@Url.Action("shop","main")">Wireless IP Camera</a></h4>
                                                                    <span class="item-cat">
                                                                        1x$30.00
                                                                    </span>
                                                                    <span class="price">
                                                                        $30.00
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="cart-btn-product">
                                                                <a class="product-remove" href="#">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                                <div class="cart-btn-pro-img">
                                                                    <a href="@Url.Action("shop","main")">
                                                                        <img src="~/Frontlib/assets/img/pro-2.png" alt="product" />
                                                                    </a>
                                                                </div>
                                                                <div class="cart-btn-pro-cont">
                                                                    <h4><a href="@Url.Action("shop","main")">Door Lock System</a></h4>
                                                                    <span class="item-cat">
                                                                        1x$130.00
                                                                    </span>
                                                                    <span class="price">
                                                                        $130.00
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="cart-btn">
                                                        <a href="@Url.Action("chart","main")" class="cart-btn-1">View Cart</a>
                                                        <a href="@Url.Action("checkout","main")" class="cart-btn-2">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-container">
                            <div class="row">
                                <div class="col-md-11 col-sm-11">
                                    <!-- Responsive Menu -->
                                    <div class="bleezy-responsive-menu"></div>
                                    <!-- Responsive Menu -->
                                    <div class="mainmenu">
                                        <nav>
                                            <ul id="bleezy_navigation">
                                                <li><a href="@Url.Action("home","main")">home</a></li>
                                                <li><a href="@Url.Action("about","main")">about us</a></li>
                                                <li>
                                                    <a href="#">services</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("all_service","main")">All service</a></li>
                                                        <li><a href="@Url.Action("service_details","main")">service details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="current-page-item">
                                                    <a href="#">pages</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("priceing","main")">Pricing</a></li>
                                                        <li><a href="@Url.Action("gallery","main")">gallery</a></li>
                                                        <li><a href="@Url.Action("team_member","main")">Team member</a></li>
                                                        <li><a href="@Url.Action("member_profile","main")">member profile</a></li>
                                                        <li><a href="404.html">404 page</a></li>
                                                        <li><a href="@Url.Action("login","main")">login</a></li>
                                                        <li><a href="@Url.Action("starregister","main")">register</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">shop</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("shop","main")">shop</a></li>
                                                        <li><a href="@Url.Action("single_shop","main")">single shop</a></li>
                                                        <li><a href="@Url.Action("chart","main")">cart</a></li>
                                                        <li><a href="@Url.Action("checkout","main")">checkout</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">blog</a>
                                                    <ul>
                                                        <li><a href="@Url.Action("blog","main")">Blog</a></li>
                                                        <li><a href="@Url.Action("blog_details","main")">Blog details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.Action("contact","main")">contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="header-search">
                                        <div class="search-icon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <div class="search-form">
                                            <form>
                                                <input type="search" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Breadcromb Area Start -->
    <section class="bleezy-breadcromb-area">
        <div class="breadcromb-top section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcromb-top-text">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcromb-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcromb-bottom-text">
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                                <li><a href="#">page</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcromb Area End -->
    <!-- Login Area Start -->
    <section class="bleezy-login-page-area section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-page-box">
                        <div class="login-page-heading form-login-heading">
                            <i class="fa fa-key"></i>
                            <h3>Register Now</h3>
                        </div>
                        @using (Html.BeginForm("starregister", "main", FormMethod.Post, new { @class = "form-login" , enctype="multipart/form-data"}))
                        {

                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_name, new { @placeholder = "Name", required = "required" })
                                <i class="fa fa-user"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_role, new { @placeholder = "Role", required = "required" })
                                <i class="fa fa-user"> </i>
                            </div>

                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_depart, new { @placeholder = "Department", required = "required" })
                                <i class="fa fa-address-book"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_grade, new { @placeholder = "Grade", required = "required" })
                                <i class="fa fa-book"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_client, new { @placeholder = "Client", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_grade, new { @placeholder = "Education", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_education, new { @placeholder = "Achievement", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_email, new { @placeholder = "Number", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_number, new { @placeholder = "Number", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                @Html.TextBoxFor(a => a.reg_address, new { @placeholder = "Address", required = "required" })
                                <i class="fa fa-lock"> </i>
                            </div>
                            <div class="account-form-group">
                                <input type="file" name="img" />
                                </div>

                                <p>
                                    <button type="submit">Register</button>
                                </p>

                                }
                                <div class="login-sign-up">
                                    <a href="@Url.Action("login","main")">Already have an account?</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </section>
    <!-- Login Area End -->
    <!-- Footer Area Start -->
    <footer class="bleezy-footer-area">
        <div class="footer-top-area section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget footer-logo-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/Frontlib/assets/img/footer-logo.png" alt="footer logo" />
                                </a>
                            </div>
                            <div class="footer-widget-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                                <p>Suspendisse augue sem, iaculis id fermentum sit amet, finibus eu risus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>latest post</h3>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="#">Revealed: How to set goals for you and your team</a></h4>
                                    <p>Jan 14, 2018</p>
                                </div>
                            </div>
                            <div class="latest-post-footer clearfix">
                                <div class="latest-post-footer-left">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="latest-post-footer-right">
                                    <h4><a href="#">Five ways to improve as a business professional!</a></h4>
                                    <p>Jan 14, 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>main links</h3>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>
                            <p>Don't miss to subscribe to our news feeds, kindly fill the form below.</p>
                            <form>
                                <input type="email" placeholder="Subscribe">
                                <button type="submit"><i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-right">
                            <p>&copy; Copyright <a href="#">Themescare</a> 2018. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- jQuery -->
    <script src="~/Frontlib/assets/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Frontlib/assets/js/bootstrap.min.js"></script>

    <!-- Featherlight JS -->
    <script src="~/Frontlib/assets/js/featherlight.js"></script>

    <!-- Featherlight Gallery JS -->
    <script src="~/Frontlib/assets/js/featherlight.gallery.js"></script>

    <!-- OwlCarousel JS -->
    <script src="~/Frontlib/assets/js/owl.carousel.min.js"></script>

    <!-- SlickNav JS -->
    <script src="~/Frontlib/assets/js/jquery.slicknav.min.js"></script>

    <!-- Gmap JS -->
    <script src="~/Frontlib/assets/js/gmap.js"></script>

    <!-- Progressbar js -->
    <script src="~/Frontlib/assets/js/progressbar.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/jquery.counterup.min.js"></script>

    <!-- Counter JS -->
    <script src="~/Frontlib/assets/js/waypoints-min.js"></script>

    <!-- Custom JS -->
    <script src="~/Frontlib/assets/js/custom.js"></script>

</body>
</html>