@model IEnumerable<project.Models.category_T>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

<h3><i class="fa fa-angle-right"></i> Cotegorys Details</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            @if(User.IsInRole("admin"))
            { 
            <h4 class="btn btn-warning"> @Html.ActionLink("Add New", "Categorys","Ourservices")</h4>
            }
            <hr />
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                           
                            <th>Name</th>
                            <th class="numeric">Discription</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                               
                                <td> @Html.DisplayFor(modelItem => item.cat_title)</td>
                                <td class="numeric"> @Html.DisplayFor(modelItem => item.cat_discrip)</td>
                               
                              
                                <td>
                                    @if(User.IsInRole("admin"))
                                    { 
                                    <div class=" btn btn-danger btn-xs"><i class="fa fa-trash-o">  @Html.ActionLink("Delete", "Delete", new { id = item.cat_id })</i>  </div>
                                    <div class=" btn btn-primary btn-xs"><i class="fa fa-pencil">  @Html.ActionLink("Edit", "Edit", new { id = item.cat_id }) </i>  </div>
                                    }
                                    <div class=" btn btn-success btn-xs"><i class="fa fa-check">   @Html.ActionLink("Details", "Details", new { id = item.cat_id })</i>  </div>
                                    

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody></tbody>
                </table>
            </section>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-lg-4 -->
</div>
<!-- /row -->