@model project.Models.vacancy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/AdminMaster.cshtml";
}

<h2 class="text-center">Vacancy</h2>

<h3 class="text-center">Are you sure you want to delete this Vacancy?</h3>
<div class="content-panel text-center">


    <hr>
    <h4 class="title"> @Html.DisplayFor(model => model.vac_title)  </h4>
    <p> @Html.DisplayFor(model => model.vac_discrip_1) </p>
    <p> <img src="~/vacancyimages/@Url.Content(Model.vac_image)" width="100" height="100" /> </p>
    <p> @Html.DisplayFor(model => model.vac_discrip_2) </p>
    <h4 class="title">  Last Date  </h4>
    <p> @Html.DisplayFor(model => model.vac_last_date) </p>
    <hr>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-warning btn-xs">
                @Html.ActionLink("Back to Vacancies", "Index")
            </div>
        </div>
    }
</div>
